{% extends 'base.html' %}
{% block content %}
    <div class="card h-100 text-center mt-2">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h2 class="card-title">Control</h2>
                    <p class="card-text">
                        Control es un aplicativo web el cual permite el control sobre todos tus procesos en la pandemia
                    </p>
                    <h4 class="card-tite">¿Ya cuentas con una cuenta?</h4>
                    <a href="{% url 'users:login' %}" class="btn btn-warning">¡Acceder ahora!</a>
                </div>
                <div class="col-sm-12 col-md-8">
                    <h3 class="card-title">Iniciar Sesion</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            {% for field in form %}
                                {{ field.label_tag }}
                                {{ field }}
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}