{% extends 'base.html' %}
{% block content %}
    <div class="card h-100 mt-2">
        <div class="card-body">
            {% if object_list %}
                <h4 class="card-text text-center">Mi presupuesto</h4>
                <p class="card-text">Cantidad: {{ object_list.quantity }}</p>
                <p class="card-text">Ultimo gasto: {{ object_list.spending }}</p>
            {% else %}
                <p class="card-text">No cuenta con un presupuesto <a href="#">Click para hacer uno</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}